@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    margin: 0
}

/* code {
    font-family: source-code-pro,Menlo,Monaco,Consolas,Courier New,monospace
} */

.poppins-thin {
    font-weight: 100
}

.poppins-extralight,.poppins-thin {
    font-family: Poppins,sans-serif;
    font-style: normal
}

.poppins-extralight {
    font-weight: 200
}

.poppins-light {
    font-weight: 300
}

.poppins-light,.poppins-regular {
    font-family: Poppins,sans-serif;
    font-style: normal
}

.poppins-regular {
    font-weight: 400
}

.poppins-medium {
    font-weight: 500
}

.poppins-medium,.poppins-semibold {
    font-family: Poppins,sans-serif;
    font-style: normal
}

.poppins-semibold {
    font-weight: 600
}

.poppins-bold {
    font-weight: 700
}

.poppins-bold,.poppins-extrabold {
    font-family: Poppins,sans-serif;
    font-style: normal
}

.poppins-extrabold {
    font-weight: 800
}

.poppins-black {
    font-family: Poppins,sans-serif;
    font-style: normal;
    font-weight: 900
}

.poppins-thin-italic {
    font-weight: 100
}

.poppins-extralight-italic,.poppins-thin-italic {
    font-family: Poppins,sans-serif;
    font-style: italic
}

.poppins-extralight-italic {
    font-weight: 200
}

.poppins-light-italic {
    font-weight: 300
}

.poppins-light-italic,.poppins-regular-italic {
    font-family: Poppins,sans-serif;
    font-style: italic
}

.poppins-regular-italic {
    font-weight: 400
}

.poppins-medium-italic {
    font-weight: 500
}

.poppins-medium-italic,.poppins-semibold-italic {
    font-family: Poppins,sans-serif;
    font-style: italic
}

.poppins-semibold-italic {
    font-weight: 600
}

.poppins-bold-italic {
    font-weight: 700
}

.poppins-bold-italic,.poppins-extrabold-italic {
    font-family: Poppins,sans-serif;
    font-style: italic
}

.poppins-extrabold-italic {
    font-weight: 800
}

.poppins-black-italic {
    font-family: Poppins,sans-serif;
    font-style: italic;
    font-weight: 900
}

* {
    margin: 0;
    padding: 0
}

a {
    text-decoration: none
}

.main {
    background-color: #fef7e8;
    height: 100vh;
    padding-bottom: 30px;
    width: 100%
}

header {
    align-items: center;
    display: flex;
    height: 10vh;
    justify-content: space-between;
    margin: auto;
    width: 85%;
    z-index: 700
}

header img {
    height: 55%;
    object-fit: cover;
    width: 13%
}

header nav {
    width: 60%
}

header nav,header nav ul {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between
}

header nav ul {
    position: relative;
    width: 45%;
    z-index: 90
}

header nav ul li {
    color: #eb6333;
    cursor: pointer;
    font-size: 19px;
    font-weight: 600;
    list-style: none;
    position: relative;
    z-index: 90
}

header nav ul li:hover {
    color: #000
}

header nav button {
    background-color: #eb6333;
    border: none;
    border-radius: 20px;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    padding: 10px 20px;
    position: relative;
    z-index: 90
}

.circle {
    background-color: #eb643333;
    border-radius: 750px;
    bottom: 100px;
    height: 750px;
    overflow: hidden;
    position: absolute;
    right: 0;
    width: 750px;
    z-index: 0
}

.main .main-c {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: auto;
    position: relative;
    width: 85%;
    z-index: 90
}

.main .main-c div {
    width: 48%
}

.main .main-c div h6 {
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 20px
}

.main .main-c div h3 {
    font-size: 63px;
    font-weight: 700;
    margin-bottom: 40px;
    width: 90%
}

.main .main-c div .form {
    align-items: center;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 40px;
    display: flex;
    height: 50px;
    justify-content: space-between;
    padding: 3px;
    width: 90%
}

.main .main-c div .form input {
    background-color: initial;
    border: none;
    height: 100%;
    outline: none;
    padding-left: 20px;
    width: 65%
}

.main .main-c div .form button {
    background-color: #000;
    border: none;
    border-radius: 40px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    height: 100%;
    width: 30%
}

.main .main-c div p {
    font-size: 19px;
    margin-top: 30px
}

.main .main-c div img {
    height: 550px;
    object-fit: contain;
    width: 100%
}

.main .main-c .right {
    position: relative;
    width: 45%
}

.main .main-c div .abs {
    background-color: #fff;
    border-radius: 15px;
    bottom: 70px;
    display: flex;
    justify-content: space-between;
    left: 0;
    padding: 15px;
    position: absolute;
    width: 55%
}

.main .main-c div .abs img {
    border-radius: 40px;
    height: 40px;
    width: 40px
}

.main .main-c div .abs .abs-r {
    width: 83%
}

.main .main-c div .abs .abs-r p {
    font-size: 14px;
    margin-bottom: 8px;
    margin-top: 5px
}

.main .main-c div .abs .abs-r .hrt {
    color: red
}

.main .main-c div .abs .abs-r .info {
    display: flex;
    justify-content: space-between
}

.main .main-c div .abs .abs-r .info span {
    font-size: 14px
}

.icons {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 90%
}

.icons span {
    align-items: center;
    border: 1px solid #000;
    border-radius: 30px;
    display: flex;
    height: 40px;
    justify-content: center;
    width: 40px
}

.icons span:hover {
    border: 1px solid #eb6333
}

.icons span .f-i {
    font-size: 22px
}

.icons span .f-i:hover {
    color: #eb6333;
    cursor: pointer
}

.bars {
    display: none
}

@media screen and (max-width: 1275px) {
    header nav ul {
        width:60%
    }

    .main .main-c div .abs {
        width: 68%
    }
}

@media screen and (max-width: 970px) {
    .main .main-c div .abs {
        bottom:110px;
        width: 95%
    }
}

@media screen and (max-width: 900px) {
    header nav {
        width:75%
    }

    header nav ul {
        width: 65%
    }

    .main .main-c div h3 {
        font-size: 40px;
        width: 100%
    }

    .icons {
        width: 90%
    }
}

@media screen and (max-width: 780px) {
    .main .main-c div {
        width:55%
    }

    .main .main-c .right {
        width: 42%
    }

    .main .main-c div .abs img {
        margin-right: 10px
    }
}

@media screen and (max-width: 730px) {
    .main .main-c {
        flex-direction:column-reverse
    }

    .main .main-c .right,.main .main-c div {
        width: 100%
    }

    .main .main-c div .abs {
        width: 65%
    }
}

@media screen and (max-width: 700px) {
    header img {
        width:100px
    }

    .bars {
        display: block;
        display: flex;
        height: 100%
    }

    .bars,header {
        align-items: center
    }

    header nav {
        align-items: start;
        align-items: center;
        background-color: #eb6333;
        flex-direction: column;
        height: 90vh;
        justify-content: start;
        left: -100%;
        position: absolute;
        text-align: center;
        top: 10vh;
        transition: ease-in;
        width: 100%;
        z-index: 8000
    }

    header .active {
        left: 0
    }

    header nav ul {
        align-items: center;
        flex-direction: column;
        height: auto;
        justify-content: start;
        width: 100%
    }

    header nav ul li {
        color: #fff;
        margin-top: 30px;
        text-align: start
    }

    header nav button {
        background-color: #fff;
        color: #eb6333;
        margin-top: 30px;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content
    }

    .foot .pol a {
        font-size: 17px
    }

    .main .main-c div h3 {
        font-size: 36px
    }

    .main .main-c div .form {
        width: 100%
    }

    .main .main-c div .form input {
        width: 60%
    }

    .main .main-c div .form button {
        font-size: 14px;
        margin: auto;
        width: 30%
    }

    .main .main-c div p {
        font-size: 16px
    }
}

@media screen and (max-width: 600px) {
    .main {
        height:auto
    }

    .main .main-c div .abs {
        width: 90%
    }

    .foot {
        flex-direction: column
    }

    .icons {
        width: 100%
    }
}

@media screen and (max-width: 450px) {
    .main .main-c div .form input {
        width:55%
    }

    .main .main-c div .form button {
        font-size: 13px;
        width: 37%
    }
}

